<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>ContaXav</title>
<!-- Bootstrap core CSS 
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
	<div class="container">
		<div class="card card-login mx-auto mt-5">
			<div class="card-header">Connexion</div>
			<div class="card-body" th:fragment="content">
				<form name="f" th:action="@{/login}" 
					method="post">
					<fieldset>
						<div th:if="${param.error}" class="alert alert-error">
							Invalid username and password.</div>
						<div th:if="${param.logout}" class="alert alert-success">
							You have been logged out.</div>
						<div class="form-group">
							<label for="username">Nom utilisateur</label> <input
								id="username" name="username"  class="form-control"
								type="text" placeholder="Entrer nom utilisateur">
						</div>
						<div class="form-group">
							<label for="password">Mot de passe</label> <input
								id="password" name="password" class="form-control" type="password"
								placeholder="Mot de passe">
						</div>
						<div class="form-group">
							<div class="form-check">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox"> Se souvenir
									du mot de passe
								</label>
							</div>
						</div>

						<input class="btn btn-primary btn-block" type="submit"
							value="Se Connecter" />

					</fieldset>

				</form>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
	<!--  
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	-->
	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
